
/*Stylesheet for the Honda Rune Portfolio site*/

body {
    background-color: rgb(139, 94, 156);
}

span {
    font-style: italic;
}

nav {
    color: white;
}

.bg-light {
    background-color: blue !important;
}



.sr-only {
    position: relative;
}

