
/*Stylesheet for the Honda Rune Portfolio site*/


/*Semantic definitions*/
body {
    background-color: rgb(212, 187, 221);
}

span {
    font-style: italic;
}

nav {
    color: white;
}

/* Class definitions for the Footer */
footer {
    padding: 30px;
    background-color: rgb(65, 65, 65);
    clear: both;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
}


/*Class definitions*/
.bg-light {
    background-color: purple !important;
}

.sr-only {
    position: relative;
}

.col-list {
    border: 3px solid black;
}